/* GLOBAL */
* {
    /* background-color: grey; */
}

/* MAIN */

body {
    display: flex;
    justify-content: space-evenly;
    border: 5px solid black;
}

.game-board {
    display: flex;
    width: 50vh;
    padding: 80px 10px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid black;
}


button {
    font-size: 10px;
    height: 100px;
    width: 30%;
    border: none;
    background-color: white;
}

#box1,
#box2,
#box3,
#box4,
#box5,
#box6 {
    border-bottom: 3px solid black;
}

#box1,
#box4,
#box7,
#box2,
#box5,
#box8 {
    border-right: 3px solid black;
}

.left-side,
.right-side {
    width: 20%;
    height: 20%;
    color: black;
}